:root {
  /* color */
  --color-white: #fff;
  --color-black: #090909;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: bold;
}

.divTodoWhite {
  background-color: var(--color-white);
  color: var(--color-black);
}

.divTodoBlack {
  background-color: var(--color-black);
  color: var(--color-white);
}
